body {
    font-family:'Playfair Display SC', serif;
}

header {
    background-image: url("images/ocean.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 0px 300px 0px;
}
button, input, optgroup, select, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
h2, h3 {
    color: #fff;
    font-family:'Playfair Display SC', serif;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: #345291;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    background: #345291b8;
    padding: 20px;
}
.saved {
    float: right;
}
.left {
    float: left;
    max-width: 500px;
    margin: 20px;
}

.card .card-image img {
    object-fit: cover;
    margin: auto;
    max-height: 200px;
    max-width: 100%;
}
.weather {
    color: #000;
}
select {
    display: block;
    height: 3.7rem;
}
